* {
  padding: 0;
  margin: 0;
}
.container {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 15px;
  padding: 10px;
}
@media screen and (min-width: 480px) {
    .message {
        font-size: 25px;
    }
}
.line {
    color: #0099FF;
}